.weoffer_container {
    /* border: solid 2px red; */
    width: 100%;
    height: 65vh;
    margin-top: 6rem;
    display: flex;
    border: none;
    padding-left: 15vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.weoffer_img_container {
    /* border: solid 2px red; */
    width: 20vw;
    height: 70vh;
    margin-top: -5rem;
    margin-left: 10rem;
}
.weoffer_image {
    /* border: solid 2px red; */
    width: 18vw;
}
.weoffer_img {
    border: solid 3px #fff;
    width: 16vw;
    height: 12rem;
    margin: 0.8rem;
}
.weoffer_img_content {
    /* border: solid 2px red; */

    color: #fff;
    margin-left: 1rem;
}
.weoffer_content_h2 {
    font-weight: 700;
    margin-top: 1rem;
}
.fa-check{
    padding-right: 1rem;
    color: rgb(122, 197, 9);
    font-size: 1.2rem;
    font-weight: 600;
}
.weoffer_a {
    color: rgb(105, 103, 103);
}
.weoffer_a:hover {
    color: black;
}
.weoffer_card {
    /* border: solid 2px red; */
    width: 23vw;
    height: 55vh;
    background-color: #fff;
    margin-left: 3rem;
    margin-top: 3rem;
    padding: 2rem;
}
.weoffer_card_content {
    /* border: solid 2px red; */
}
.weoffer_card_h2 {
    font-size: 1.7rem;
    font-weight: 600;
}
.weoffer_card_p {
    margin-top: 1rem;
    font-weight: 500;

}
.weoffer_card_p_a > a  {
    color: black;
}

.weoffer_button {
    width: 9rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: rgb(40, 4, 196);
    color: rgb(230, 228, 228);
    margin-left: 1rem;
}
.weoffer_button:hover {
    color: #fff;
}

@media only screen and (max-width: 300px) {
    .weoffer_container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .weoffer_img_container {
        width: 80vw;
        margin: 0;
        margin-top: 1.5rem;
    }
    .weoffer_image {
        width: 80vw;
    }
    .weoffer_img {
        width: 100%;
        margin: 0;
    }
    .weoffer_card {
        width: 80vw;
        height: 80vh;
        margin: 0;
    }
    .weoffer_card_h2 {
        font-size: 1.2rem;
    }
}

@media (min-width:300px) and (max-width: 360px) {
    .weoffer_container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .weoffer_img_container {
        width: 80vw;
        margin: 0;
        margin-top: 1.5rem;
    }
    .weoffer_image {
        width: 80vw;
    }
    .weoffer_img {
        width: 100%;
        margin: 0;
    }
    .weoffer_card {
        width: 80vw;
        height: 80vh;
        margin: 0;
    }
    .weoffer_card_h2 {
        font-size: 1.2rem;
    }
}

@media (min-width:360px) and (max-width: 410px) {
    .weoffer_container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .weoffer_img_container {
        width: 80vw;
        margin: 0;
        margin-top: 1.5rem;
    }
    .weoffer_image {
        width: 80vw;
    }
    .weoffer_img {
        width: 100%;
        margin: 0;
    }
    .weoffer_card {
        width: 80vw;
        height: 80vh;
        margin: 0;
    }
    .weoffer_card_h2 {
        font-size: 1.2rem;
    }
}

@media (min-width:410px) and (max-width: 500px) {
    .weoffer_container {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .weoffer_img_container {
        width: 100%;
        margin: 0;
        margin-top: 1.5rem;
    }
    .weoffer_image {
        width: 70vw;
    }
    .weoffer_img {
        width: 100%;
        margin: 0;
    }
    .weoffer_card {
        width: 80vw;
        height: 80vh;
        margin: 0;
    }
    .weoffer_card_h2 {
        font-size: 1.2rem;
    }
}

@media (min-width:500px) and (max-width: 600px){
    .weoffer_container {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .weoffer_img_container {
        width: 80vw;
        margin: 0;
        margin-top: 1.5rem;
    }
    .weoffer_image {
        width: 70vw;
    }
    .weoffer_img {
        width: 100%;
        margin: 0;
    }
    .weoffer_card {
        width: 80vw;
        height: 80vh;
        margin: 0;
    }
    .weoffer_card_h2 {
        font-size: 1.2rem;
    }
}

@media (min-width: 600px)  and (max-width: 768px) {
    .weoffer_container {
        width: 106.5vw;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: -3rem;
    }
    .weoffer_img_container {
        width: 80vw;
        margin: 0;
        margin-top: 1.5rem;
    }
    .weoffer_image {
        width: 70vw;
    }
    .weoffer_img {
        width: 100%;
        height: 30vh;
        margin: 0;
    }
    .weoffer_card {
        width: 80vw;
        height: 60vh;
        margin: 0;
    }
    .weoffer_card_h2 {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .weoffer_container {
        width: 100vw;
        height: auto;
    }
    .weoffer_img_container {
        width: 80vw;
        margin: 0;
        margin-top: 1.5rem;
    }
    .weoffer_image {
        width: 40vw;
    }
    .weoffer_img {
        width: 100%;
        height: 30vh;
        margin: 0;
    }
    .weoffer_card {
        width: 80vw;
        height: 60vh;
        margin: 0;
    }
    .weoffer_card_h2 {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .weoffer_container {
        width: 100vw;
        height: auto;
    }
    .weoffer_img_container {
        width: 80vw;
        margin: 0;
        margin-top: 1.5rem;
    }
    .weoffer_image {
        width: 40vw;
    }
    .weoffer_img {
        width: 100%;
        height: 30vh;
        margin: 0;
    }
    .weoffer_card {
        width: 80vw;
        height: 60vh;
        margin: 0;
    }
    .weoffer_card_h2 {
        font-size: 1.2rem;
    }
}